# Maven
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

# IDE
.idea/
*.iws
*.iml
*.ipr
.vscode/
.settings/
.classpath
.project

# OS
.DS_Store
Thumbs.db

# Logs
logs/
*.log

# Uploads (будут в volume)
uploads/

# Git
.git/
.gitignore

# Docker
.dockerignore
Dockerfile
docker-compose.yml

# Другое
*.md
LICENSE

# Configuration
flyway.conf
src/main/resources/application-local.yml