# === Environment files ===
flyway.conf

# === IntelliJ IDEA ===
.idea/
*.iml
out/
target/

# === Logs and temp ===
*.log
*.tmp
*.bak
*.swp
.DS_Store

# === Some local files ===
todo
src/main/resources/application-local.yml
.env
uploads/