name: Build and Deploy

on:
  push:
    branches:
      - main

jobs:
  build-and-push-docker-image:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Build Docker image
        run: docker build . --tag qqanly/toyzhiri-back:latest

      - name: Log in to Docker Hub
        run: echo "${{ secrets.DOCKER_PASSWORD }}" | docker login -u qqanly --password-stdin

      - name: Push to Docker Hub
        run: docker push qqanly/toyzhiri-back:latest

  deploy:
    runs-on: ubuntu-latest
    needs: build-and-push-docker-image
    steps:
      - name: Deploy to Server using Docker Compose
        uses: appleboy/ssh-action@v0.1.8
        with:
          host: ${{ secrets.HOST }}
          username: ${{ secrets.USERNAME }}
          key: ${{ secrets.SSH_KEY }}
          script: |
            cd toy
            echo "Pulling latest Docker image..."
            docker pull qqanly/toyzhiri-back:latest
            

            echo "Stopping and removing old containers..."
            docker compose stop toyzhiri-back
            docker compose rm -f toyzhiri-back
            
            echo "Starting up containers with Docker Compose..."
            docker compose up -d toyzhiri-back
            
            echo "Cleaning up unused Docker images..."
            docker image prune -af  
            
            
            echo "Deployment completed!"
      - name: Health Check
        uses: appleboy/ssh-action@master
        with:
            host: ${{ secrets.HOST }}
            username: ${{ secrets.USERNAME }}
            key: ${{ secrets.SSH_KEY }}
            script: |
              echo "Waiting for service to become healthy..."
              for i in {1..10}; do
                if curl -s http://localhost:8888/api/actuator/health | grep -q '"status":"UP"'; then
                  echo "Service is healthy!"
                  exit 0
                fi
                echo "Health check failed. Retrying in 5 seconds..."
                sleep 5
              done
              echo "Service health check failed after multiple attempts."
              exit 1
